h1{
  font-size: 100%;
}
h2{
  font-size: 95%;
}
h3{
  font-size: 95%;
  color: white;

}
h4{
  font-size: 90%;
  color: white;
}
p{
  min-width: 200px;
  width: 70%;
  font-size: 90%;
}
legend{
  font-size: 110%;
}
img#anders{
  float: right;
  width: 25%;
  min-width: 50px;
}

img#repan{
  float: right;
  width: 25%;
  min-width: 50px;
}
a{
  color: #669999;
}
